Repository sandy-sp/ai-reply-index, changes with the labels that .github/labeler.yml gives for each.
All labels: prompt, metadata, formatting, good first issue

.github/labeler.yml:

prompt:
  - 'prompts/**'

metadata:
  - '**/metadata.json'

formatting:
  - '**/*.md'

good first issue:
  - .github/ISSUE_TEMPLATE/good-first-issue-*

Add PR auto-labeler workflow to automate labeling of pull requests
  .github/workflows/pr-labeler.yml
Labels: none

Bump version from 0.1.0 to 1.0.0 in pyproject.toml
  pyproject.toml
Labels: none

Revert version number in pyproject.toml from 1.0.0 to 0.1.0
  pyproject.toml
Labels: none

Update theme in config.json from light to dark
  data/config.json
Labels: none

Add additional models to model_tags.json
  data/model_tags.json
Labels: none

Update prompt_index.db with new data
  data/prompt_index.db
Labels: none

Add comprehensive report on universal classification system and database for AI prompts
  prompts/2025-05-01_i_want_to_create_a_prompt_database._but/Gemini.md
Labels: prompt, formatting

Add metadata.json for universal prompt classification system, including prompt details, model, response, tags, and date.
  prompts/2025-05-01_i_want_to_create_a_prompt_database._but/metadata.json
Labels: prompt, metadata

Add initial prompt description for universal prompt database concept
  prompts/2025-05-01_i_want_to_create_a_prompt_database._but/prompt.md
Labels: prompt, formatting

Refactor Gemini.md to streamline the Universal Classification System and enhance clarity in prompt categorization and database structure.
  prompts/2025-05-01_i_want_to_create_a_prompt_database._but/Gemini.md
Labels: prompt, formatting

Correct capitalization in "Works Cited" section and reorganize citation list for improved clarity and consistency.
  prompts/2025-05-01_i_want_to_create_a_prompt_database._but/Gemini.md
Labels: prompt, formatting

Update prompt_index.db to reflect recent changes in prompt classification and organization.
  data/prompt_index.db
Labels: none

Add initial draft of Gemini.md outlining a proof of concept for a universal prompt database
  prompts/2025-05-02_using_as_a_reference_come_up_with_a_proo/Gemini.md
Labels: prompt, formatting

Add metadata.json for proof of concept of a universal prompt database
  prompts/2025-05-02_using_as_a_reference_come_up_with_a_proo/metadata.json
Labels: prompt, metadata

Add initial prompt for proof of concept database project
  prompts/2025-05-02_using_as_a_reference_come_up_with_a_proo/prompt.md
Labels: prompt, formatting

Implement new feature for user authentication and improve error handling
  prompts/2025-05-02_using_as_a_reference_come_up_with_a_proo/Gemini.md
Labels: prompt, formatting

Add 'meta-llama/LlamaGuard-7b' to model_tags.json
  data/model_tags.json
Labels: none

Update prompt_index.db with new data entries
  data/prompt_index.db
Labels: none

Implement code changes to enhance functionality and improve performance
  prompts/2025-05-02_i_want_to_create_a_prompt_database._but/ChatGPT.md
Labels: prompt, formatting

Implement code changes to enhance functionality and improve performance
  prompts/2025-05-02_i_want_to_create_a_prompt_database._but/metadata.json
Labels: prompt, metadata

Add initial prompt for creating a standardized prompt database
  prompts/2025-05-02_i_want_to_create_a_prompt_database._but/prompt.md
Labels: prompt, formatting

Implement feature X to enhance user experience and optimize performance
  prompts/2025-05-02_i_want_to_create_a_prompt_database._but/raw.chatgpt.md
Labels: prompt, formatting

Update prompt_index.db with new data entries
  data/prompt_index.db
Labels: none

Implement code changes to enhance functionality and improve performance
  prompts/2025-05-05_i_am_trying_to_create_a_custom_hardware/ChatGPT.md
Labels: prompt, formatting

Implement code changes to enhance functionality and improve performance
  prompts/2025-05-05_i_am_trying_to_create_a_custom_hardware/metadata.json
Labels: prompt, metadata

Add prompt for custom hardware running LLMs
  prompts/2025-05-05_i_am_trying_to_create_a_custom_hardware/prompt.md
Labels: prompt, formatting

Update prompt_index.db with new binary data
  data/prompt_index.db
Labels: none

Implement code changes to enhance functionality and improve performance
  prompts/2025-05-08_i_am_trying_to_create_a_custom_hardware/ChatGPT.md
Labels: prompt, formatting

Implement feature X to enhance user experience and fix bug Y in module Z
  prompts/2025-05-08_i_am_trying_to_create_a_custom_hardware/metadata.json
Labels: prompt, metadata

Add prompt for custom hardware to run LLMs directly
  prompts/2025-05-08_i_am_trying_to_create_a_custom_hardware/prompt.md
Labels: prompt, formatting

Update prompt_index.db with new binary data
  data/prompt_index.db
Labels: none

Implement code changes to enhance functionality and improve performance
  prompts/2025-05-08_i_am_trying_to_create_a_custom_hardware/Gemini.md
Labels: prompt, formatting

Implement code changes to enhance functionality and improve performance
  prompts/2025-05-08_i_am_trying_to_create_a_custom_hardware/metadata.json
Labels: prompt, metadata

Update prompt_index.db with new binary data
  data/prompt_index.db
Labels: none

Implement code changes to enhance functionality and improve performance
  prompts/2025-05-09_i_want_to_learn_generative_ai,_can_you_c/ChatGPT.md
Labels: prompt, formatting

Implement new feature for user authentication and improve error handling
  prompts/2025-05-09_i_want_to_learn_generative_ai,_can_you_c/metadata.json
Labels: prompt, metadata

Add new prompt for Generative AI study plan request
  prompts/2025-05-09_i_want_to_learn_generative_ai,_can_you_c/prompt.md
Labels: prompt, formatting

Implement code changes to enhance functionality and improve performance
  prompts/2025-05-09_i_want_to_learn_generative_ai,_can_you_c/ChatGPT.md
Labels: prompt, formatting

Implement code changes to enhance functionality and improve performance
  prompts/2025-05-09_i_want_to_learn_generative_ai,_can_you_c/metadata.json
Labels: prompt, metadata

Update prompt index database to reflect recent changes
  data/prompt_index.db
Labels: none
