Repository sandy-sp/ai-reply-index, changes with the labels that .github/labeler.yml gives for each.
All labels: prompt, metadata, formatting, good first issue

.github/labeler.yml:

prompt:
  - 'prompts/**'

metadata:
  - '**/metadata.json'

formatting:
  - '**/*.md'

good first issue:
  - .github/ISSUE_TEMPLATE/good-first-issue-*

Implement code changes to enhance functionality and improve performance
  prompts/2025-05-10_**architecting_verifiably_aligned_and_sa/ChatGPT.md
Labels: prompt, formatting

Implement code changes to enhance functionality and improve performance
  prompts/2025-05-10_**architecting_verifiably_aligned_and_sa/metadata.json
Labels: prompt, metadata

Add prompt for research on architecting verifiably aligned and safe AGI
  prompts/2025-05-10_**architecting_verifiably_aligned_and_sa/prompt.md
Labels: prompt, formatting

Update prompt index database to reflect changes in binary data
  data/prompt_index.db
Labels: none

Add initial draft of "The Future of Decentralized and Federated AI" prompt
  prompts/2025-05-10_**the_future_of_decentralized_and_federa/Gemini.md
Labels: prompt, formatting

Add metadata for "The Future of Decentralized and Federated AI" prompt
  prompts/2025-05-10_**the_future_of_decentralized_and_federa/metadata.json
Labels: prompt, metadata

Add prompt for research on the future of decentralized and federated AI
  prompts/2025-05-10_**the_future_of_decentralized_and_federa/prompt.md
Labels: prompt, formatting

Update prompt index database with new binary data
  data/prompt_index.db
Labels: none

Add initial draft of Neuro-Symbolic AI report focusing on common sense reasoning
  prompts/2025-05-10_**neuro-symbolic_ai_and_common_sense_rea/Gemini.md
Labels: prompt, formatting

Add metadata for Neuro-Symbolic AI and Common Sense Reasoning prompt
  prompts/2025-05-10_**neuro-symbolic_ai_and_common_sense_rea/metadata.json
Labels: prompt, metadata

Add prompt for research on Neuro-Symbolic AI and Common Sense Reasoning
  prompts/2025-05-10_**neuro-symbolic_ai_and_common_sense_rea/prompt.md
Labels: prompt, formatting

Update prompt index database with new binary data
  data/prompt_index.db
Labels: none

Implement code changes to enhance functionality and improve performance
  prompts/2025-05-12_**the_socio-economic_and_ethical_implica/Gemini.md
Labels: prompt, formatting

Implement code changes to enhance functionality and improve performance
  prompts/2025-05-12_**the_socio-economic_and_ethical_implica/metadata.json
Labels: prompt, metadata

Add prompt on the socio-economic and ethical implications of autonomous AI agents
  prompts/2025-05-12_**the_socio-economic_and_ethical_implica/prompt.md
Labels: prompt, formatting

Update prompt index database with new binary data
  data/prompt_index.db
Labels: none

Add comprehensive report on AI for proactive and personalized healthcare ecosystems
  prompts/2025-05-16_**ai_for_proactive_and_personalized_heal/Gemini.md
Labels: prompt, formatting

Add metadata for AI-driven proactive and personalized healthcare ecosystems
  prompts/2025-05-16_**ai_for_proactive_and_personalized_heal/metadata.json
Labels: prompt, metadata

Add prompt for AI-driven proactive and personalized healthcare ecosystems
  prompts/2025-05-16_**ai_for_proactive_and_personalized_heal/prompt.md
Labels: prompt, formatting

Update prompt index database with modified binary data
  data/prompt_index.db
Labels: none

Add comprehensive document on achieving fluid, trustworthy, and contextually aware human-robot collaboration
  prompts/2025-05-16_**achieving_fluid,_trustworthy,_and_cont/Gemini.md
Labels: prompt, formatting

Add metadata for achieving fluid, trustworthy, and contextually aware human-robot collaboration
  prompts/2025-05-16_**achieving_fluid,_trustworthy,_and_cont/metadata.json
Labels: prompt, metadata

Add prompt for achieving fluid, trustworthy, and contextually aware human-robot collaboration in unstructured environments
  prompts/2025-05-16_**achieving_fluid,_trustworthy,_and_cont/prompt.md
Labels: prompt, formatting

Update prompt index database with new binary data
  data/prompt_index.db
Labels: none

Implement feature X to enhance user experience and optimize performance
  prompts/2025-05-17_**ai-powered_resilience:_combating_sophi/ChatGPT.md
Labels: prompt, formatting

Implement feature X to enhance user experience and fix bug Y in module Z
  prompts/2025-05-17_**ai-powered_resilience:_combating_sophi/metadata.json
Labels: prompt, metadata

Add prompt for AI-powered resilience against multi-modal disinformation campaigns
  prompts/2025-05-17_**ai-powered_resilience:_combating_sophi/prompt.md
Labels: prompt, formatting

Update prompt index database with new binary data
  data/prompt_index.db
Labels: none

Implement feature X to enhance user experience and optimize performance
  prompts/2025-05-17_**probing_emergent_cognitive_architectur/Gemini.md
Labels: prompt, formatting

Implement feature X to enhance user experience and optimize performance
  prompts/2025-05-17_**probing_emergent_cognitive_architectur/metadata.json
Labels: prompt, metadata

Add prompt for probing emergent cognitive architectures and AI self-understanding
  prompts/2025-05-17_**probing_emergent_cognitive_architectur/prompt.md
Labels: prompt, formatting

Update prompt index database with modified binary data
  data/prompt_index.db
Labels: none

Implement feature X to enhance user experience and optimize performance
  prompts/2025-05-18_**ai-driven_global_ecosystem_intelligenc/Gemini.md
Labels: prompt, formatting

Implement feature X to enhance user experience and optimize performance
  prompts/2025-05-18_**ai-driven_global_ecosystem_intelligenc/metadata.json
Labels: prompt, metadata

Add prompt for AI-driven global ecosystem intelligence focusing on biodiversity conservation and climate adaptation
  prompts/2025-05-18_**ai-driven_global_ecosystem_intelligenc/prompt.md
Labels: prompt, formatting

Update prompt index database with new binary data
  data/prompt_index.db
Labels: none

Implement feature X to enhance user experience and optimize performance
  prompts/2025-05-18_**foundational_algorithms,_hardware_co-d/Gemini.md
Labels: prompt, formatting

Implement feature X to enhance user experience and optimize performance
  prompts/2025-05-18_**foundational_algorithms,_hardware_co-d/metadata.json
Labels: prompt, metadata

Add prompt for foundational algorithms and hardware co-design in quantum AI
  prompts/2025-05-18_**foundational_algorithms,_hardware_co-d/prompt.md
Labels: prompt, formatting

Update prompt index database with modified binary data
  data/prompt_index.db
Labels: none
